.item-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.game-mode-item-list {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.game-mode-item-list .item-container {
  margin: 2px 0;
}